.payment__content {
    flex-direction: column;
}

.payment__content .form__control {
    flex-grow: 1;
}

.payment__content .form__item:last-child {
    margin-bottom: 0;
}

.payment__header .text{
    margin-top: 6px;
    margin-bottom: 4px;
}
