.product {
    min-height: 300px;
    border-width: 3px;
}

.product__image {
    height: 160px;
}

.product__footer {
    display: flex;
    flex-direction: column;
}

.product__footer {
    margin-top: 16px;
}

.product__image {
    width: 100%;
}

.product__image .image {
    border: none;
}
