.button {
    background-color: var(--theme-background-accent-color);
}

.button_size_s {
    width: 200px;
    height: 24px;
}

.button_size_m {
    width: 200px;
    height: 32px;
}

.button_size_l {
    width: 200px;
    height: 42px;
}

.button_size_xl {
    width: 200px;
    height: 56px;
}

.button_size_xxl {
    width: 200px;
    height: 64px;
}

.button_width_full {
    width: 100%;
}
