@import "../../variable/sizes.css";

.card__content {
    display: flex;
}

.card__content_distribute_center {
    justify-content: center;
}

.card__content_vertical-align_center {
    align-items: center;
}

.card__content_space-a_m {
    padding: var(--m_space);
}

.card__content_space-a_l {
    padding: var(--l_space);
}

.card__content_space-a_xl {
    padding: var(--xl_space);
}

.card__content_space-a_xxl {
    padding: var(--xxl_space);
}

.card__content_space-a_xxxl {
    padding: var(--xxxl_space);
}
