
/*.event {
    //min-height: 480px;
}*/

.event__content {
    display: flex;
    flex-direction: column;
}

.event__preview {
    display: flex;
    margin-bottom: var(--xxl_space);
}

.event .avatar:nth-child(1) {
    margin-right: var(--xs_space);
}

.event__title {
    margin-bottom: var(--s_space);
}

.event__footer {
    padding-top: 8px;
}

@media (max-width: 1024px) {
    .event__footer {
        padding-top: 36px;
    }
}
