.cover {
    min-height: 472px;
}

.cover__info {
    display: flex;
    flex-direction: column;
}

.cover__preview {
    margin-bottom: var(--l_space);
    height: 180px;
}

.cover__info .text:nth-child(2) {
    margin-bottom: 10px;
    margin-top: 2px;
}

.cover__footer {
    margin-top: 14px;
}
