.cover {
    min-height: 472px;
}

.cover .cover__info {
    display: flex;
    flex-direction: column;
}

.cover__preview {
    margin-bottom: var(--l_space);
    height: 180px;
}

.cover .cover__info .text_size_xxl:nth-child(2) {
    margin-bottom: 10px;
    margin-top: 2px;
}
