.cover {
    min-height: 472px;
}

.cover__info {
    display: flex;
    flex-direction: column;
}

.cover__preview {
    margin-bottom: var(--l_space);
    height: 180px;
}

.cover__footer {
    margin-top: 6px;
}

@media (max-width: 1024px) {
    .cover {
        margin-bottom: 15px;
    }
}
