.theme_color_project-default {
    --theme-background-color: #FFFFFF;
    --theme-background-accent-color: #ffcc00;
    --theme-border-color: #000000;
    --theme-text-color: #000000;
    --theme-secondary-text-color: rgba(0, 0, 0, 0.6);
    --theme-additional-text-color: rgba(0, 0, 0, 0.3);
    --theme-link-color: #0077ff;

}

.theme_color_project-brand {
    --theme-background-color: #0077ff;
    --theme-background-accent-color: #FFFFFF;
    --theme-border-color: #FFFFFF;
    --theme-text-color: #FFFFFF;
    --theme-secondary-text-color: rgba(255, 255, 255, 0.6);
    --theme-additional-text-color: rgba(255, 255, 255, 0.3);
    --theme-link-color: #FFFFFF;
}


.theme_color_project-inverse {
    --theme-background-color: #000000;
    --theme-background-accent-color: #FFFFFF;
    --theme-border-color: #FFFFFF;
    --theme-text-color: #FFFFFF;
    --theme-secondary-text-color: rgba(255, 255, 255, 0.6);
    --theme-additional-text-color: rgba(255, 255, 255, 0.3);
    --theme-link-color: #0077ff;
}

.theme_color_project-warning {
    --theme-background-color: #ff3333;
    --theme-background-accent-color: #FFFFFF;
    --theme-border-color: #ff3333;
    --theme-text-color: #FFFFFF;
    --theme-secondary-text-color: rgba(255, 255, 255, 0.6);
    --theme-additional-text-color: rgba(255, 255, 255, 0.3);
    --theme-link-color: #FFF;
}
