.theme_color_project-default {
    --theme-background-color: #FFFFFF;
    --theme-background-accent-color: #ffcc00;
    --theme-border-color: #000000;
    --theme-text-color: #000000;
    --theme-secondary-text-color: rgba(0, 0, 0, 0.6);
    --theme-additional-text-color: rgba(0, 0, 0, 0.3);
    --theme-link-color: #0077ff;
    --theme-background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='80px' height='64px' viewBox='0 0 80 64' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eplaceholder%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='image-placeholder' transform='translate(-500.000000, -368.000000)' fill='%23000000' fill-rule='nonzero'%3e%3cg id='Group' transform='translate(500.000000, 368.000000)'%3e%3cg id='placeholder'%3e%3cpath d='M32,16 L48,16 L48,8 L56,8 L56,16 L64,16 L64,24 L72,24 L72,32 L80,32 L80,48 L72,48 L72,40 L64,40 L64,48 L56,48 L56,56 L48,56 L48,48 L32,48 L32,56 L24,56 L24,48 L16,48 L16,40 L8,40 L8,48 L0,48 L0,32 L8,32 L8,24 L16,24 L16,16 L24,16 L24,8 L32,8 L32,16 Z M24,32 L32,32 L32,24 L24,24 L24,32 Z M16,0 L24,0 L24,8 L16,8 L16,0 Z M16,56 L24,56 L24,64 L16,64 L16,56 Z M56,32 L56,24 L48,24 L48,32 L56,32 Z M64,0 L64,8 L56,8 L56,0 L64,0 Z M64,56 L64,64 L56,64 L56,56 L64,56 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e")
}

.theme_color_project-brand {
    --theme-background-color: #0077ff;
    --theme-background-accent-color: #FFFFFF;
    --theme-border-color: #FFFFFF;
    --theme-text-color: #FFFFFF;
    --theme-secondary-text-color: rgba(255, 255, 255, 0.6);
    --theme-additional-text-color: rgba(255, 255, 255, 0.3);
    --theme-link-color: #FFFFFF;
    --theme-background-image:url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='80px' height='64px' viewBox='0 0 80 64' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eplaceholder%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='image-placeholder' transform='translate(-620.000000, -368.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3e%3cg id='Group' transform='translate(500.000000, 368.000000)'%3e%3cg id='placeholder' transform='translate(120.000000, 0.000000)'%3e%3cpath d='M32,16 L48,16 L48,8 L56,8 L56,16 L64,16 L64,24 L72,24 L72,32 L80,32 L80,48 L72,48 L72,40 L64,40 L64,48 L56,48 L56,56 L48,56 L48,48 L32,48 L32,56 L24,56 L24,48 L16,48 L16,40 L8,40 L8,48 L0,48 L0,32 L8,32 L8,24 L16,24 L16,16 L24,16 L24,8 L32,8 L32,16 Z M24,32 L32,32 L32,24 L24,24 L24,32 Z M16,0 L24,0 L24,8 L16,8 L16,0 Z M16,56 L24,56 L24,64 L16,64 L16,56 Z M56,32 L56,24 L48,24 L48,32 L56,32 Z M64,0 L64,8 L56,8 L56,0 L64,0 Z M64,56 L64,64 L56,64 L56,56 L64,56 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}


.theme_color_project-inverse {
    --theme-background-color: #000000;
    --theme-background-accent-color: #FFFFFF;
    --theme-border-color: #FFFFFF;
    --theme-text-color: #FFFFFF;
    --theme-secondary-text-color: rgba(255, 255, 255, 0.6);
    --theme-additional-text-color: rgba(255, 255, 255, 0.3);
    --theme-link-color: #0077ff;
    --theme-background-image:url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='80px' height='64px' viewBox='0 0 80 64' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eplaceholder%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='image-placeholder' transform='translate(-620.000000, -368.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3e%3cg id='Group' transform='translate(500.000000, 368.000000)'%3e%3cg id='placeholder' transform='translate(120.000000, 0.000000)'%3e%3cpath d='M32,16 L48,16 L48,8 L56,8 L56,16 L64,16 L64,24 L72,24 L72,32 L80,32 L80,48 L72,48 L72,40 L64,40 L64,48 L56,48 L56,56 L48,56 L48,48 L32,48 L32,56 L24,56 L24,48 L16,48 L16,40 L8,40 L8,48 L0,48 L0,32 L8,32 L8,24 L16,24 L16,16 L24,16 L24,8 L32,8 L32,16 Z M24,32 L32,32 L32,24 L24,24 L24,32 Z M16,0 L24,0 L24,8 L16,8 L16,0 Z M16,56 L24,56 L24,64 L16,64 L16,56 Z M56,32 L56,24 L48,24 L48,32 L56,32 Z M64,0 L64,8 L56,8 L56,0 L64,0 Z M64,56 L64,64 L56,64 L56,56 L64,56 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

.theme_color_project-warning {
    --theme-background-color: #ff3333;
    --theme-background-accent-color: #FFFFFF;
    --theme-border-color: #ff3333;
    --theme-text-color: #FFFFFF;
    --theme-secondary-text-color: rgba(255, 255, 255, 0.6);
    --theme-additional-text-color: rgba(255, 255, 255, 0.3);
    --theme-link-color: #FFF;
}
