.theme_size_default {
    --s_line_height: 21px;
    --m_line_height: 25px;
    --l_line_height: 28px;
    --xl_line_height: 34px;
    --xxl_line_height: 28px;

    --s_font-size: 8px;
    --m_font-size: 10px;
    --l_font-size: 11px;
    --xl_font-size: 13px;
    --xxl_font-size: 16px;
}
