@import "../variable/sizes.css";

.theme_size_s .text {
    height: var(--s_line_height);
}

.theme_size_m .text{
    height: var(--m_line_height);
}


.theme_size_l .text{
    height:  var(--l_line_height);
}


.theme_size_xl .text{
    height: var(--xl_line_height);
}


.theme_size_xxl .text{
    height: var(--xxl_line_height);
}
