.theme_space_default {
    --xxxs_space: 3px;
    --xxs_space: 6px;
    --xs_space: 9px;
    --s_space: 15px;
    --m_space: 18px;
    --l_space: 24px;
    --xl_space: 27px;
    --xxl_space: 36px;
    --xxxl_space: 45px;
    --xxxxl_space: 51px;
    --xxxxxl_space: 72px;
}
