.section_indent-b_xxl {
    margin-bottom: var(--xxl_space);
}

.section_indent-b_xxxxl {
    margin-bottom: var(--xxxxl_space);
}

.section_space-v_xxl {
    padding-top: var(--xxl_space);
    padding-bottom: var(--xxl_space);
}

.section_space-v_xxxxl {
    padding-top: var(--xxxxl_space);
    padding-bottom: var(--xxxxl_space);
}

.section {
    background-color: var(--theme-background-color);
}

