:root {
    --s_line_height: 21px;
    --m_line_height: 25px;
    --l_line_height: 28px;
    --xl_line_height: 34px;
    --xxl_line_height: 28px;

    --s_font-size: 8px;
    --m_font-size: 10px;
    --l_font-size: 11px;
    --xl_font-size: 13px;
    --xxl_font-size: 16px;

    --xxxs_space: 3px;
    --xxs_space: 6px;
    --xs_space: 9px;
    --s_space: 15px;
    --m_space: 18px;
    --l_space: 24px;
    --xl_space: 27px;
    --xxl_space: 36px;
    --xxxl_space: 45px;
    --xxxxl_space: 51px;
    --xxxxxl_space: 72px;

    --s_container_size: 920px;
    --m_container_size: 1280px;
}

@media (max-width: 1024px) {
    :root {
        --gap: var(--s_space);
    }
}

@media (min-width: 1024px) {
    :root {
        --gap: var(--xl_space);
    }
}
