.input {
    border: solid 3px;
    border-color: var(--theme-border-color);
    width: 100%;
}

.input_size_s {
    height: 24px;
}

.input_size_m {
    height: 32px;
}

.input_size_l {
    height: 42px;
}

.input_size_xl {
    height: 56px;
}

.input_size_xxl {
    height: 64px;
}

