.icon-plus__icon_indent-r_s {
    margin-right: var(--s_space);
}

.icon-plus__icon_indent-r_m {
    margin-right: var(--m_space);
}

.icon-plus__icon_indent-l_l {
    margin-left: var(--l_space);
}

