@import "word.css";

.text {
    display: flex;
    flex-wrap: wrap;
}

.text .text__word {
    margin-top: calc(calc(var(--line-height) - var(--font-size)) / 2 + 2px);
    margin-bottom: calc(calc(var(--line-height) - var(--font-size)) / 2 - 2px);
}

.text_align_center {
    justify-content: center;
}


.text_size_s {
    --line-height: var(--s_line_height);
    --font-size: var(--s_font-size);
}

.text_size_m {
    --line-height: var(--m_line_height);
    --font-size: var(--m_font-size);
}

.text_size_l {
    --line-height: var(--l_line_height);
    --font-size: var(--l_font-size);
}

.text_size_xl {
    --line-height: var(--xl_line_height);
    --font-size: var(--xl_font-size);
}

.text_size_xxl {
    --line-height: var(--xxl_line_height);
    --font-size: var(--xxl_font-size);
}

.text_type_h1{
    margin: 18px 0 32px;
}

.text_type_h2 {
    margin: 44px 0 21px;
}

.text_type_h3 {
    margin: 42px 0 0;
}

.text_type_p {
    margin: 15px 0 21px;
}

.text_view_primary .text__word {
    background-color: var(--theme-text-color);
}

.text_view_secondary .text__word {
    background-color: var(--theme-background-accent-color);
}

.text_view_ghost .text__word {
    background-color: var(--theme-additional-text-color);
}

.text_view_link .text__word {
    background-color: var(--theme-link-color);
}
