@import "../../variable/sizes.css";
@import "word.css";

.text {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.text_align_center {
    justify-content: center;
}

/*
.text_size_s {
    height: var(--s_line_height);
}
*/

.text_size_s .text__word{
    height: var(--s_font-size);
}

/*.text_size_m {
    height: var(--m_line_height);
}*/

.text_size_m .text__word{
    height: var(--m_font-size);
}

/*.text_size_l {
    height: var(--l_line_height);
}*/

.text_size_l .text__word{
    height: var(--l_font-size);
}

/*.text_size_xl {
    height: var(--xl_line_height);
}*/

.text_size_xl .text__word{
    height: var(--xl_font-size);
}

/*.text_size_xxl {
    height: var(--xxl_line_height);
}*/

.text_size_xxl .text__word{
    height: var(--xxl_font-size);
}

.text_type_h1 {
    margin: 18px 0 24px;
}

.text_type_h2 {
    margin: 45px 0 21px;
}

.text_type_h3 {
    margin: 42px 0 0;
}

.text_type_p {
    margin: 15px 0 21px;
}

.text_view_primary .text__word {
    background-color: var(--theme-text-color);
}

.text_view_secondary .text__word {
    background-color: var(--theme-background-accent-color);
}

.text_view_ghost .text__word {
    background-color: var(--theme-additional-text-color);
}

.text_view_link .text__word {
    background-color: var(--theme-link-color);
}
