.history {
    border-width: 3px;
}


.history .history__show {
    width: 100%;
    display: flex;
}

.history .history__details {
    display: flex;
}

.history .history__time {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.history .history__destination {
    display: flex;
    align-items: center;
}

.history .history__quantity {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.history .history__hide {
    display: none;
}

.history__show {
    margin-top: 0;
}
