.history {
    border-width: 3px;
}

.history__show {
    width: 100%;
    display: flex;
    margin-top: 0;
}

.history__details {
    display: flex;
}

.history__time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 17px;
    padding-bottom: 14px;
}

.history__time .text__word {
    margin-top: 0;
    margin-bottom: 0;
}


.history__destination {
    display: flex;
    align-items: center;
}

.history__quantity {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 1px;
}

.history__hide {
    display: none;
}

.history__label {
    margin-top: 1px;
}

.history .list__item:last-child {
    border-bottom: none;
}

.history__transaction {
    display: flex;
    flex-direction: column;
}
