@import "action.css";
@import "content.css";

.informer_border_all {
    border-width: 3px;
    border-style: solid;
    border-color: var(--theme-border-color);
}

.informer_view_default {
    background-color: var(--theme-background-color);
}
